

/** 
 * ===================================================================
 **** header 
 *
 * ------------------------------------------------------------------- 
 */

header {
  position: fixed;
  width: 90%;
  min-height: 66px;
  z-index: 600;
}
header .row {
  position: relative;
  min-height: 66px;
}
header .top-bar {
  display: block;
  background: #000000;
  min-width: 190px;
  min-height: 66px;
  position: absolute;
  left: 90px;
  top: 0;
}
header .logo {
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 5px;
}
header .logo a {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  text-shadow: none;
  color: transparent;
  width: 92px;
  height: 55px;
  background: url("../../images/logo.png") no-repeat center;
}

/** 
 * ===================================================================
 **** menu-toggle 
 *
 * ------------------------------------------------------------------- 
 */
.menu-toggle {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 13px;
  display: block;
  position: relative;
}
.menu-toggle span {
  display: block;
  background-color: #ff0077;
  width: 24px;
  height: 3px;
  margin-top: -1.5px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  position: absolute;
  right: 8px;
  top: 50%;
  bottom: auto;
  left: auto;
  transition: background 0.2s ease-in-out;
}
.menu-toggle span::before,
.menu-toggle span::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}
.menu-toggle span::before {
  top: -8px;
  transition-property: top, transform;
}
.menu-toggle span::after {
  bottom: -8px;
  transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
  background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before,
.menu-toggle.is-clicked span::after {
  background-color: #ff0077;
  transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* navigation panel */
#main-nav-wrap {
  display: block;
  width: 100%;
  font-family: "poppins-medium", sans-serif;
  font-size: 1.5rem;
  position: absolute;
  top: 100%;
  left: 0;
}

/* dropdown nav */
.main-navigation {
  background: #000000;
  padding: 24px 30px 42px;
  margin: 0;
  width: 100%;
  height: auto;
  clear: both;
  display: none;
}
.main-navigation > li {
  display: block;
  height: auto;
  text-align: left;
  padding: 0;
}
.main-navigation li a {
  display: block;
  color: #ffffff;
  width: auto;
  padding: 15px 0;
  line-height: 16px;
  border: none;
}
.main-navigation li a:hover {
  color: #ff0077;
  padding-left: 1rem;
}
.main-navigation li.current > a {
  background: none;
  color: #ff0077;
}

/**
 * responsive:
 * header styles
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  header .top-bar {
    left: 60px;
  }
}
@media only screen and (max-width: 768px) {
  header .top-bar {
    left: 50px;
  }
}
@media only screen and (max-width: 600px) {
  header .top-bar {
    left: 35px;
  }
}
@media only screen and (max-width: 400px) {
  header .top-bar {
    left: 25px;
  }
}

/** 
 * ===================================================================
 **** intro 
 *
 * ------------------------------------------------------------------- 
 */
#intro {
  background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
  text-align: center;
}
.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0.85;
}

.intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: translateY(-2.1rem);
  -ms-transform: translateY(-2.1rem);
  transform: translateY(-2.1rem);
}
.intro-content h1 {
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  font-size: 8.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
  color: #cc005f;
  font-family: "poppins-bold", sans-serif;
  font-size: 2.3rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
  display: inline-block;
}
.intro-content .intro-position span::after {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 8px 0 14px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
  content: "|";
  text-align: center;
  display: inline-block;
  padding: 0 14px 0 8px;
  color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
  height: 6rem;
  line-height: 5.4rem;
  padding: 0 3.5rem 0 3rem;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.intro-content .button:hover,
.intro-content .button:focus {
  border-color: #cc005f;
}
.intro-content .button::after {
  display: inline-block;
  content: "\f107";
  font-family: fontAwesome;
  font-size: 1.6rem;
  line-height: inherit;
  text-align: center;
  position: relative;
  left: 1.2rem;
}

.intro-social {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 7.2rem;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
}
.intro-social li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
.intro-social li a,
.intro-social li a:visited {
  color: #ffffff;
}
.intro-social li a:hover,
.intro-social li a:focus {
  color: #cc005f;
}

/**
 * responsive:
 * Intro
 * --------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  .intro-content h1 {
    font-size: 7.6rem;
  }
  .intro-social {
    font-size: 3rem;
  }
  .intro-social li {
    margin: 0 15px;
  }
}
@media only screen and (max-width: 768px) {
  #intro {
    min-height: 660px;
  }
  .intro-content h1 {
    font-size: 5.2rem;
  }
  .intro-content h5 {
    font-size: 1.8rem;
  }
  .intro-content .intro-position {
    font-size: 1.3rem;
  }
  .intro-social {
    font-size: 2.5rem;
  }
  .intro-social li {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 600px) {
  #intro {
    min-height: 600px;
  }
  .intro-content h1 {
    font-size: 4.6rem;
    margin-bottom: 0.6rem;
  }
  .intro-content h5 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.2rem;
  }
  .intro-content .intro-position {
    font-size: 1.2rem;
  }
  .intro-content .intro-position span {
    padding: 0 0.6rem;
  }
  .intro-content .intro-position span::before,
  .intro-content .intro-position span::after {
    display: none;
  }
  .intro-social {
    font-size: 2.4rem;
  }
}

/** 
 * ===================================================================
 **** about 
 *
 * ------------------------------------------------------------------- 
 */
#about {
  background: #ffffff;
  padding-top: 12rem;
  padding-bottom: 15rem;
}
#about .section-intro {
  margin-bottom: 3rem;
}

.intro-info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}
.intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: 0.9rem 0 0 0;
  float: left;
}
.intro-info .lead {
  text-align: left;
  padding-left: 13rem;
}

.about-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 850px;
  margin-bottom: 3.6rem;
}
.about-content h3 {
  font-family: "poppins-bold", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.about-content .info-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: 0.6rem;
}
.about-content .info-list li strong {
  font-family: "poppins-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.about-content .info-list li span {
  display: block;
  font-family: "poppins-regular", sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}
.about-content .skill-bars {
  padding-left: 0;
  margin-top: 6rem;
}

.button-section {
  text-align: center;
}
.button-section .button {
  max-width: 250px;
  width: 90%;
}

/**
* responsive:
* about
* ------------------------------------------------------------------- 
*/
@media only screen and (max-width: 1024px) {
  .intro-info {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .intro-info img {
    height: 7.8rem;
    width: 7.8rem;
  }
  .intro-info .lead {
    padding-left: 11rem;
  }
  .about-content h3 {
    text-align: center;
  }
  .about-content .info-list,
  .about-content .skill-bars {
    margin-bottom: 4.2rem;
  }
  .button-section .button {
    width: 100%;
    margin-bottom: 3rem;
  }
  .button-section [class*="col-"] .button:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .intro-info {
    text-align: center;
    margin-top: 3rem;
  }
  .intro-info img {
    border: 2px solid red;
    height: 6.6rem;
    width: 6.6rem;
    float: none;
    display: inline-block;
  }
  .intro-info .lead {
    padding-left: 0;
    text-align: center;
  }
}

/** 
 * ===================================================================
 **** resume 
 *
 * ------------------------------------------------------------------- 
 */

#resume {
  padding-top: 12rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume .resume-header {
  text-align: center;
}
#resume .resume-header h2 {
  color: #ff0077;
}

#resume .resume-timeline {
  max-width: 980px;
}
#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 38%;
  top: 0;
}
#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}
#resume .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 38%;
  top: 2.5rem;
  margin-left: -2.4rem;
}
#resume .timeline-ico i {
  position: relative;
  left: 0.05rem;
  top: 0.2rem;
}

#resume .timeline-header {
  float: left;
  width: 30%;
  padding-right: 10px;
  text-align: right;
}
#resume .timeline-header h3 {
  margin-bottom: 0;
}
#resume .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #888888;
}
#resume .timeline-content {
  margin-left: 35%;
  padding-left: 80px;
}
#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}
#resume .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

/**
 * responsive:
 * resume
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  #resume .timeline-header {
    padding-right: 50px;
  }
  #resume .timeline-header h3 {
    font-size: 1.8rem;
  }
  #resume .timeline-header p {
    font-size: 1.4rem;
  }
  #resume .timeline-content {
    padding-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  #resume .timeline-wrap::before {
    left: 2.4rem;
  }
  #resume .timeline-ico {
    left: 2.4rem;
  }
  #resume .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
  #resume .timeline-header h3 {
    font-size: 2rem;
  }
  #resume .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #resume .timeline-content {
    margin: 0;
  }
  #resume .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: 0.6rem;
    font-size: 1.7rem;
  }
  #resume .timeline-content h4::after {
    bottom: auto;
    top: 0;
  }
  #resume .timeline-header,
  #resume .timeline-content {
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 480px) {
  #resume .resume-header h2 {
    font-size: 2.2rem;
  }
  #resume .timeline-wrap::before {
    left: 1.8rem;
  }
  #resume .timeline-ico {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.5rem;
  }
  #resume .timeline-header,
  #resume .timeline-content {
    padding-left: 5.5rem;
  }
}

/** 
 * ===================================================================
 * portfolio
 *
 * ------------------------------------------------------------------- 
 */
#portfolio {
  background: #ffffff;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.portfolio-container {
  margin: 0 auto;
  display: flex;
  width: 60%;
}

.portfolio-content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

#portfolio .folio-item {
  padding: 0;
  position: relative;
  overflow: hidden;
}
#portfolio .folio-item img {
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
}

#portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.5s ease-in-out;
}

#portfolio .folio-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#portfolio .folio-item-text {
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: -100%;
}

#portfolio .folio-title {
  color: #ffffff;
  font-size: 3.3rem;
  padding: 0 3rem;
  margin-bottom: 0;
}
#portfolio .folio-types {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "poppins-regular", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 0.6);
}
#portfolio .folio-item:hover .overlay {
  background: rgba(0, 0, 0, 0.8);
}
#portfolio .folio-item:hover .folio-item-text {
  left: 0;
}
#portfolio .folio-item:hover img {
  transform: scale(1.05);
}

/**
 * responsive:
 * portfolio
 * ------------------------------------------------------------------- 
 */
@media only screen and (max-width: 1024px) {
  #portfolio .folio-title {
    font-size: 3.1rem;
  }
}
@media only screen and (max-width: 768px) {
  #portfolio-content {
    grid-template-columns: 1fr;
  }
  #portfolio .folio-title {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 400px) {
  #portfolio-content {
    width: 90%;
  }
  #portfolio .folio-title {
    font-size: 2.2rem;
  }
}

/** 
 * ===================================================================
 *  services
 *
 * ------------------------------------------------------------------- 
 */
#services {
  background: #313131 url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 12rem;
  padding-bottom: 12rem;
  color: white;
  position: relative;
}
#services .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #151515;
  opacity: 0.9;
}

#services .section-intro {
  margin-bottom: 1.8rem;
}

#services .section-intro h1 {
  color: white;
}
#services .section-intro h5 {
  color: #ff0077;
}
#services .section-intro p {
  color: rgba(255, 255, 255, 0.7);
}
#services-content {
  max-width: 1200px;
}
#swiper-services {
  width: 80%;
}
.services-list {
  margin-top: 1.2rem;
  text-align: center;
}
.services-list .service {
  margin-bottom: 1.2rem;
  padding: 0 30px;
}
.services-list .icon {
  display: inline-block;
  margin-bottom: 2.1rem;
}
.services-list .icon i {
  font-size: 5.4rem;
  color: #ff0077;
}
.services-list h3 {
  color: #ffffff;
}
.services-list .desc {
  color: rgba(255, 255, 255, 0.6);
}

.swiper-pagination {
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #ff0077;
}

/** 
 * ===================================================================
 *  stats
 *
 * ------------------------------------------------------------------- 
 */
.stats {
  background: #990047;
  padding-top: 7.2rem;
  padding-bottom: 6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.stat-item {
  width: 25rem;
}

.stats .row {
  max-width: 1440px;
}

.stats .stat {
  border-left: 1px solid rgba(255, 255, 255, 0.12);
  min-height: 17.4rem;
}

.stats .stat:first-child {
  border: none;
}

.stats .icon-part i {
  font-size: 4.8rem;
  color: #000000;
}

.stats .stat-count {
  color: #ffffff;
  font-size: 3.6rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  font-family: "poppins-medium", sans-serif;
  color: white;
}

.stats .stat-title {
  color: rgba(255, 255, 255, 0.5);
}

/**
 * responsive:
 * stats
 * -------------------------------------------------------------------
 */
@media only screen and (max-width: 1024px) {
  .stats {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 768px) {
  .stats .stat {
    border: none;
  }
}

/** 
 * ===================================================================
 *  contact 
 *
 * ------------------------------------------------------------------- 
 */
#contact {
  background: #151515;
  padding-top: 12rem;
  padding-bottom: 7.2rem;
}
#contact .section-intro h1 {
  color: white;
}
.contact .section-intro h5 {
  color: #ff0077;
}
.contact .section-intro p {
  color: rgba(255, 255, 255, 0.7);
}

.contact-info {
  margin: 4.8rem auto 0;
  font-family: "poppins-regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact-info .collapse {
  padding: 0;
}
.contact-info .icon {
  margin-bottom: 2.1rem;
}
.contact-info .icon i {
  font-size: 4.2rem;
  color: #ffffff;
}
.contact-info h5 {
  color: #ff0077;
}

/** 
 * ===================================================================
 *  footer
 *
 * ------------------------------------------------------------------- 
 */
footer {
  padding-bottom: 3rem;
  font-size: 1.4rem;
  font-family: "poppins-regular", sans-serif;
  display: flex;
  justify-content: center;
}
footer a,
footer a:visited {
  color: #ffffff;
}
footer a:hover,
footer a:focus {
  color: #ff0077;
}
.footer-social-container {
  text-align: center;
}
/* footer .row {
  max-width: 900px;
} */
footer .social {
  text-align: right;
}
footer .footer-social {
  display: inline-block;
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: -0.3rem;
}
footer .footer-social li {
  display: inline-block;
  margin: 0 12px;
  padding: 0;
}
footer .footer-social li a {
  color: #ffffff;
}

footer .copyright span {
  text-align: center;
}
footer .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}
footer .copyright span:last-child::after {
  display: none;
}

/**
 * responsive:
 * footer
 * -------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer .social {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  footer .copyright span {
    display: block;
  }
  footer .copyright span::after {
    display: none;
  }
}

/**
 * go to top 
 * ------------------------------------------------------------------- 
 */
#go-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 600;
  display: none;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 6.6rem;
  width: 6rem;
  line-height: 6.6rem;
  text-align: center;
  background: #cc005f;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
#go-top a i {
  font-size: 1.6rem;
  line-height: inherit;
}
#go-top a:hover {
  background: #000000;
}
